<form action="/" method="POST">
    <div class="form-group row">
        <label for="title" class="col-form-label col-sm-3">Titulek</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="title" name="title" value="{% if title %}{{ title }}{% endif %}">
        </div>
    </div>

    <div class="form-group row">
        <label for="body" class="col-form-label col-sm-3">Body</label>
        <div class="col-sm-9">
            <textarea class="form-control form-control-sm" id="body" rows="3" name="body" >{% if body %}{{ body }}{% endif %}</textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="footer" class="col-form-label col-sm-3">Footer</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="footer" name="footer" value="{% if footer %}{{ footer }}{% endif %}">
        </div>
    </div>

    <div class="form-group row">
        <label for="subfooter" class="col-form-label col-sm-3">Subfooter</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="subfooter" name="subfooter" value="{% if subfooter %}{{ subfooter }}{% endif %}">
        </div>
    </div>

    <div class="form-group row">
        <label for="image_url" class="col-form-label col-sm-3">Image URL</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" id="image_url" name="image_url" value="{% if image_url %}{{ image_url }}{% endif %}">
        </div>
    </div>

    <div class="form-group row">
        <label for="ratio" class="col-form-label col-sm-3">Poměr stran</label>
        <div class="col-sm-3">
            <select id="ratio" name="ratio" class="form-control form-control-sm custom-select">
                <option>16x9</option>
                <option>1x1</option>
            </select>
        </div>
        <label for="theme" class="col-form-label col-sm-2">Motiv</label>
        <div class="col-sm-4">
            <select id="theme" name="theme" class="form-control form-control-sm custom-select">
                <option>blue-dark</option>
                <option>blue-light</option>
                <option>green</option>
                <option>orange</option>
                <option>orange-invert</option>
                <option>orange-light</option>
                <option>red-dark</option>
            </select>
        </div>
    </div>

    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#modal">
        Načíst
    </button>
    <button type="submit" class="btn btn-primary" formaction="/store/">Uložit</button>
    <button type="submit" class="btn btn-success float-right">Generuj</button>
</form>