{% extends 'base.html' %}

{% block head %}
<title>Generátor banneru</title>
{% endblock %}

{% block body %}

<div class="row m-2 d-flex justify-content-center">
    <h3>Generátor banneru</h3>
</div>

<div class="row m-2">
    <div class="col-12 col-md-6">
        {% include 'form.html'%}
    </div>

    <!-- URL -->
    {% if url %}
    <div class="col-12 col-md-6">
        <img src="{{ url }}" alt={{ url }} class="shrinkToFit transparent img-fluid" width="954" height="537">
    </div>
    {% endif %}
</div>
<!-- Modal -->
{% include 'modal.html' %}

{% endblock %}