<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped" id="message-list">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Vytvořeno</th>
                        <th>Titulek</th>
                        <th>Body</th>
                        <th>Footer</th>
                        <th>Subfooter</th>
                        <th>Image URL</th>
                        <th>Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                    <tr>
                        <td>{{ message.id }}</td>
                        <td>{{ message.date_created.date() }}</td>
                        <td>{{ message.title }}</td>
                        <td>{{ message.body }}</td>
                        <td>{{ message.footer }}</td>
                        <td>{{ message.subfooter }}</td>
                        <td>{{ message.image_url }}</td>
                        <td>
                            <a href="/message/{{ message.id }}">Vložit</a>
                            <a href="/delete/{{message.id}}">Smazat</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
</div>